<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Exchange Currency</title>
		<link rel="stylesheet" href="stylesheet.css">
	</head>
	<body>
        <h1>Exchange Currency</h1>
        <p><b>Name:</b> <%- name %></p>
        <p><b>Email:</b> <%- email %></p>
        <p><b>Input Amount:</b> <%- inputAmount %> <%- inputCurrency %></p>
        <p><b>Output Amount:</b> <%- outputAmount %> <%- outputCurrency %></p>
        <hr>
        <a href="./">Back</a>
	</body>
</html>
